@import "./partials/partials";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-size: $font-size-semi-medium;
  font-family: $font-family;
  line-height: 28px;
  letter-spacing: -0.234375px;
  color: $Dark-grey;
  background: $Very-Light-Gray;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: $Dark-Blue;
  font-weight: 300;
}

h1 {
  font-size: $font-size-large;
  line-height: 47px;
  font-weight: 300;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.flex {
  display: flex;

  &-j-space-btw {
    justify-content: space-between;
  }

  &-j-center {
    justify-content: center;
  }

  &-ali-center {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: $font-size-small;
    line-height: 25px;
    letter-spacing: -0.28125px;
  }

  h1 {
    font-size: $font-size-very-large;
    line-height: 56px;
  }
}
