@import "./variables";

header {
  background-color: #f2f2f2;
  min-height: 100vh;
  position: relative;
  z-index: 100;

  .header-hero::before {
    content: "";
    display: block;
    min-height: 400px;
    background: url("../../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }

  .content {
    padding-bottom: 5rem;
    text-align: center;

    h1 {
      margin-bottom: 1.6rem;
    }

    p {
      margin-bottom: 3.2rem;
    }
  }
}

header::before {
  content: "";
  position: absolute;
  top: -5%;
  left: 0;
  background: url("../../images/image-mockups.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  header::before {
    top: -15%;
  }
}

@media screen {
}
