// HEADER

header {
  .header-hero {
    min-height: 69rem;

    @include breakpoint-up(medium) {
      min-height: 65.6rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  // HEADER HERO IMAGE
  .hero-image {
    position: relative;
    height: 32rem;

    @include breakpoint-up(medium) {
      height: 65.6rem;
      flex: 3;
    }

    // HERO BACKGROUND DESIGN IMAGE
    &::before {
      content: "";
      position: absolute;
      top: -5%;
      left: -10%;
      background: url("../../images/bg-intro-mobile.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 115%;

      // media query breakpoint 1024px for the hero-image
      @include breakpoint-up(medium) {
        top: -15%;
        background: url("../../images/bg-intro-desktop.svg");
        background-size: 120%;
        background-position: 8% 70%;
        height: 100%;
        width: 130%;
      }
    }

    // HERO PHONE BACKGROUND IMAGE
    &::after {
      content: "";
      position: absolute;
      top: -40%;
      left: 0;
      background: url("../../images/image-mockups.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      height: 160%;
      width: 100%;

      @include breakpoint-up(medium) {
        left: 20%;
        top: -27%;
        background-size: 105%;
        width: 110%;
      }
    }
  }

  /* **************************** */
  // HEADER TEXT

  .header-description {
    margin-top: 3.1rem;

    @include breakpoint-up(medium) {
      flex: 2;
    }

    .content {
      padding-bottom: 5rem;
      text-align: center;

      @include breakpoint-up(medium) {
        text-align: left;
      }

      h1 {
        @include font-large;
      }

      p {
        margin: 2.4rem auto 3.2rem;
      }
    }

    // MEDIA QUERY BREAKPOINT 1400PX FOR THE HEADER TEX
    // HEADING AND PARAGRAPH
    @include breakpoint-up(large) {
      h1 {
        @include font-very-large;
      }

      p {
        @include font-medium($font-size-medium);
      }
    }
  }
}

/* ****************************************************************
******************************************************************
*********** MAIN SECTIONS*********************************** */

// CHOOSE US

.choose-us {
  padding: 6.4rem 0;
  background: rgba(244, 245, 247, 1);

  .why-choose-us-heading {
    margin: 7rem auto;
    text-align: center;
    width: 85%;

    @include breakpoint-up(small) {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
      @include font-normal;
      margin-bottom: 1.6rem;

      // MEDIA QUERY BREAKPOINT 768PX FOR THE H2

      @include breakpoint-up(small) {
        @include font-large;
      }
    }

    // media query breakpoint 1024px upward style for
    // the  WHY CHOOSE US HEADING

    p {
      @include breakpoint-up(small) {
        max-width: 75%;
        margin: auto 0;
        @include font-medium($font-size-medium);
      }
    }

    //
  }

  /* ************************************************
  *************************************************
 */

  .reasons-to-choose-us {
    text-align: center;
    width: 90%;
    margin: auto;

    h3 {
      margin: 2.4rem auto 1.6rem;
    }

    @include breakpoint-up(small) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5rem;
      width: 100%;
      text-align: left;
    }

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2.5rem;
    }

    .reasons-to-choose-us-card {
      margin-bottom: 3.2rem;

      @include breakpoint-up(medium) {
        flex: 1;

        .reasons-to-choose-us-card:not(:last-child) {
          margin-left: 3rem;
        }
      }
    }
  }
}

// ARTICLES

.articles {
  padding: 8.9rem 0;

  h2 {
    text-align: center;
    margin-bottom: 3.1rem;
    @include font-normal;

    // media query breakpoint 1024px
    @include breakpoint-up(medium) {
      @include font-large;
      text-align: left;
    }
  }

  .articles-details {
    // media query breakpoint 768px upward(min-width:768px)
    @include breakpoint-up(small) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
    }

    // media query breakpoint 1024px upward (min-width:1024px)
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 3rem;
    }
  }

  .articles-card {
    margin-bottom: 2.4rem;
    background: $White;
    border-radius: 0 0 5px 5px;

    // media query breakpoint 1024px upward(min-width:1024px)

    @include breakpoint-up(medium) {
      margin-bottom: 0;
    }
    // ***************************

    .card-details {
      padding: 2.4rem;

      .autor {
        font-size: $font-size-very-small;
        line-height: 18px;
      }

      h4 {
        @include font-small;
        margin: 1rem 0;
        cursor: pointer;

        &:hover {
          color: $Lime-Green;
        }
      }

      p {
        font-size: $font-size-very-small;
      }
    }

    .card-image {
      display: block;
      height: 20rem;
      border-radius: 5px 5px 0 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .articles-card:first-child {
    .card-image {
      background: url("../../images/image-currency.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .articles-card:nth-child(2) {
    .card-image {
      background: url("../../images/image-restaurant.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .articles-card:nth-child(3) {
    .card-image {
      background: url("../../images/image-plane.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .articles-card:last-child {
    .card-image {
      background: url("../../images/image-confetti.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
