// HEADER

header {
  // position: relative;

  .header-hero {
    min-height: 69rem;

    @include breakpoint-up(medium) {
      min-height: 65.6rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  .hero-image {
    position: relative;
    height: 32rem;
    background: url("../../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &::after {
      content: "";
      position: absolute;
      top: -45%;
      left: 0;
      background: url("../../images/image-mockups.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      height: 160%;
      width: 100%;
    }

    @include breakpoint-up(medium) {
      background-image: none;
      height: 65.6rem;
      flex: 3;
      &::before {
        content: "";
        position: absolute;
        top: -15%;
        background: url("../../images/bg-intro-desktop.svg");
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: 8% 70%;
        height: 120%;
        width: 130%;
      }

      &::after {
        left: 20%;
        top: -27%;
        background-size: 105%;
        width: 110%;
      }
    }
  }

  .header-description {
    margin-top: 3.1rem;

    .content {
      padding-bottom: 5rem;
      text-align: center;

      h1 {
        @include font-large;
      }

      p {
        margin: 2.4rem auto 3.2rem;
      }
    }

    @include breakpoint-up(medium) {
      flex: 2;

      .content {
        text-align: left;

        h1 {
          @include font-very-large;
        }

        p {
          @include font-medium($font-size-medium);
        }
      }
    }
  }
}

/* ****************************************************************
******************************************************************
*********** MAIN SECTIONS*********************************** */

// CHOOSE US

.choose-us {
  padding: 6.4rem 0;
  background: rgba(244, 245, 247, 1);

  .why-choose-us-heading {
    margin: 7rem auto;
    text-align: center;
    width: 85%;

    h2 {
      @include font-normal;
      margin-bottom: 1.6rem;
    }

    // media query breakpoint 1024px upward style for
    // the  WHY CHOOSE US HEADING

    @include breakpoint-up(medium) {
      text-align: left;
      margin-left: 0;

      h2 {
        @include font-large;
      }

      p {
        max-width: 70%;
        margin: auto 0;
        @include font-medium($font-size-medium);
      }
    }

    //
  }

  .reasons-to-choose-us {
    text-align: center;
    width: 90%;
    margin: auto;

    h3 {
      margin: 2.4rem auto 1.6rem;
    }

    .reasons-to-choose-us-card {
      margin-bottom: 3.2rem;
    }

    // media query breakpoint 1024px for the
    // REASON TO CHOOSE US SECTION

    @include breakpoint-up(medium) {
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .reasons-to-choose-us-card {
        flex: 1;
      }
      .reasons-to-choose-us-card + .reasons-to-choose-us-card {
        margin-left: 2rem;
      }
    }
  }
}

// ARTICLES

.articles {
  padding: 8.9rem 0;

  h2 {
    text-align: center;
    margin-bottom: 3.1rem;
    @include font-normal;
  }

  .articles-details {
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
    }
  }

  .articles-card {
    margin-bottom: 2.4rem;
    background: $White;
    border-radius: 0 0 5px 5px;

    @include breakpoint-up(medium) {
      margin-bottom: 0;
    }

    .card-details {
      padding: 2.4rem;

      .autor {
        font-size: $font-size-very-small;
        line-height: 18px;
      }

      h4 {
        @include font-small;
        margin: 1rem 0;
      }

      p {
        font-size: $font-size-very-small;
      }
    }

    .card-image {
      display: block;
      height: 20rem;
      border-radius: 5px 5px 0 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .articles-card:first-child {
    .card-image {
      background: url("../../images/image-currency.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .articles-card:nth-child(2) {
    .card-image {
      background: url("../../images/image-restaurant.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .articles-card:nth-child(3) {
    .card-image {
      background: url("../../images/image-plane.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .articles-card:last-child {
    .card-image {
      background: url("../../images/image-confetti.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .articles {
    h2 {
      @include font-large;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1024px) {
  .articles {
    .articles-details {
      border: 1px solid black;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 3rem;
    }
  }
}
