.nav-wrapper {
  background-color: $White;
  z-index: 10;
  position: relative;

  .overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 8rem;
    background: linear-gradient(
      180deg,
      #2d314d 0%,
      rgba(45, 49, 77, 0.0001) 100%
    );
    visibility: hidden;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;

  .logo {
    height: 2rem;
  }

  .nav-links {
    display: none;

    @include breakpoint-up(medium) {
      display: flex;
      justify-content: center;
    }

    li {
      cursor: pointer;
      font-size: $font-size-medium;

      @include breakpoint-up(medium) {
        font-size: $font-size-mini;
        position: relative;
        &:not(:last-child) {
          margin-right: 3rem;
        }

        &::before {
          content: "";
          height: 4px;
          width: 100%;
          display: block;
          position: absolute;
          top: 190%;
          visibility: hidden;
          background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
        }
        &:hover {
          color: $Dark-Blue;
        }
        &:hover::before {
          visibility: visible;
          transition: 1s ease-in-out;
        }
      }
    }
  }
  button {
    display: none;

    @include breakpoint-up(medium) {
      display: block;
    }
  }

  // HAMBURGER MENU

  .hamburger {
    cursor: pointer;
    display: flex;
    align-items: center;

    @include breakpoint-up(medium) {
      display: none;
    }
  }

  .open-hamburger {
    img:nth-child(2) {
      display: none;
    }
  }

  .close-hamburger {
    img:first-child {
      display: none;
    }
  }

  // show mobile nav

  @include breakpoint-down(medium) {
    .open-nav-links {
      display: block;
      width: 90%;
      min-height: 26.5rem;
      background: $White;
      position: fixed;
      top: 8.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 3.2rem 0;
      border-radius: 4px;
      z-index: 6000;

      li {
        color: $Dark-Blue;
      }
      li:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
  }
}
